/* Aserto Quickstart Page - set to Aserto's light and dark theme */

.pageTitle {
  font-size: 32px;
  color: #121212;
}

html[data-theme='dark'] .pageTitle {
  color: #e7e7e7;
}

.pageSubtitle {
  color: #121212;
}

html[data-theme='dark'] .pageSubtitle {
  color: #e7e7e7;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}
